<div class="p-4">
    <div class="container">
        <h1>Hi {{user?.firstName}}!</h1>
        <p>You're logged in with Angular 14!!</p>
        <p><a routerLink="/users">Manage Users</a></p>
    </div>
    <div id="homePage" data-spy="scroll" data-target="#navbar" data-offset="0">
        <section id="home" class="pb-2">
            <div class="row py-3">
                <div class="col-md-2 col-1"></div>
                <div class="col pt-5">
                    <div id="showContent">
                        <h1 id="headingLine">
                            Taking animal care to new Heights! One paw at a time!
                        </h1>
                        <p id="headingLine2">We understand your concern for your pets. You can track your pets . We provide many services few of them can be seen in the features section.</p>
                        <br/>
                        <span class="pr-2">
                            <button class="btn demoButton" role="button" data-toggle="modal" data-target="#requestDemo">Request a free visit</button>
                        </span>
                        <span>
                            <a class="btn videoButton" role="button" href="https://youtu.be/riiBlKkOLug" target="_blank">   
                            <!-- <mat-icon fontSet="material-icons-outlined" class="align-middle"> play_circle_outline</mat-icon>  -->
                            <span class="pl-1 align-middle">Watch our working</span>
                            </a>
                        </span>
                        <div class="row pt-4 pl-4">
                            <div class="col">
                                <a href="https://www.producthunt.com/posts/worktez?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-worktez" target="_blank"><img src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=357437&theme=light" alt="Worktez - Milestone&#0032;your&#0032;project&#0032;with&#0032;the&#0032;power&#0032;of&#0032;DevOps | Product Hunt" style="width: 250px; height: 54px;" width="250" height="54" /></a>
                            </div>
                        </div>
                    </div> 
                </div>
                <div class="col" id="conceptArt">
                    <img id="conceptArt" src="../../../assets/download.png" alt="graphs" width="100%" height="100%"> 
                </div>
                <div class="col-md-2 col-1"></div>
            </div>
        </section>
        <section id="services" class="p-2">
            <div class="row py-4">
                <div class="col text-center" id="headingLine">
                    What do we provide?
                </div>
            </div>
            <div class="row pt-2">
                <div class="col-md-2 col-1"></div>
                <div class="col">
                    <div class="col text-center">
                        <img id="conceptArt" src="../../../assets/dogcare.png" alt="graphs" width="50%" height="50%">
                    </div>
                    <div class="row align-middle py-3">
                        <div class="col d-flex justify-content-center">
                            <span class="boxShadow p-3">
                                <div class="row align-middle pt-2">
                                    <div class="col text-center">
                                        <button class="btn serviceButton" id="gitText">Dog Grooming</button>
                                    </div>
                                </div>
                            </span>
                        </div>
                        <div class="col d-flex justify-content-center">
                            <span class="boxShadow p-3">
                                <div class="row align-middle pt-2">
                                    <div class="col text-center">
                                        <button class="btn serviceButton" id="kanbanText">Dog Walker</button>
                                    </div>
                                </div>
                            </span>
                        </div>
                        <div class="col d-flex justify-content-center">
                            <span class="boxShadow p-3">
                                <div class="row align-middle pt-2">
                                    <div class="col text-center">
                                        <button class="btn serviceButton" id="dashboardText">Dog Checkup</button>
                                    </div>
                                </div>
                            </span>
                        </div>
                        <div class="col d-flex justify-content-center">
                            <span class="boxShadow p-3">
                                <div class="row align-middle pt-2">
                                    <div class="col text-center">
                                        <button class="btn serviceButton" id="organizeText">Pet Hostel</button>
                                    </div>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-1"></div>
            </div>
            <div class="row">
                <div class="col-md-2 col-1"></div>
                <div class="col">
                    <div class="row align-middle py-3">
                        <div class="col d-flex justify-content-center">
                            <span class="boxShadow p-3">
                                <div class="row align-middle pt-2">
                                    <div class="col text-center">
                                        <button class="btn serviceButton" id="qnText">Proper Attention</button>
                                    </div>
                                </div>
                            </span>
                        </div>
                        <div class="col d-flex justify-content-center">
                            <span class="boxShadow p-3">
                                <div class="row align-middle pt-2">
                                    <div class="col text-center">
                                        <button class="btn serviceButton" id="ttText">Cleanliness</button>
                                    </div>
                                </div>
                            </span>
                        </div>
                        <div class="col d-flex justify-content-center">
                            <span class="boxShadow p-3">
                                <div class="row align-middle pt-2">
                                    <div class="col text-center">
                                        <button class="btn serviceButton" id="milestionesText">Milestones</button>
                                    </div>
                                </div>
                            </span>
                        </div>
                        <div class="col d-flex justify-content-center">
                            <span class="boxShadow p-3">
                                <div class="row align-middle pt-2">
                                    <div class="col text-center">
                                        <button class="btn serviceButton" id="meetText">Online doctor appointment</button>
                                    </div>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-1"></div>
            </div>
        </section>
    </div>
</div>